//Variables
$background-color: lightblue;


body {
    background-color: $background-color;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex; //Learn about flex
    flex-direction: column;
    align-items: center;
    height: 95vh;
    text-align: center;
}

header{
    width: 100%;
    background-color: bisque;
    box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 1.0);
    padding: 20px 0px;

    h1{
        margin: 0;
        font-size: 2.5rem; //Understand REM again
    }
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.container {
    background-color: $background-color;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 1.0);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    margin: 50px auto;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    p{
        font-size: 1;
    }

    .input-field{
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid black;
        border-radius: 4px;
        font-size: 1.5rem;
        box-sizing: border-box;

        &:focus {
            border-color: red;
            outline: none;
        }
    }

    .btn{
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        transition: $background-color 0.3s ease;

        &.btn-login{
           background-color: orange;
           color: white;
           
           &:hover{
            background-color: purple;
           }
        }

        &.btn-register{
            background-color: orange;
            color: white;
            
            &:hover{
             background-color: blue;
            }
         }

         &.btn-logout{
            background-color: orange;
            color: white;
            
            &:hover{
             background-color: purple;
            }
         }
        
    }
}