{% extends 'base.html' %}

{% block head %}
<title>License Expiry Tracker</title>
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center">
    <form id="auth-form" action="{{ url_for('login') }}" method="post" class="w-100" style="max-width: 400px;">
        <h1 style="color: #FFFFFF;">Login</h1>
        <br />
        <div class='form-group'>    
            <input 
                type="text" 
                name="username" 
                placeholder="Username" 
                class="form-control"
                required 
            />
        </div>
        <br />
        <div class='form-group'>
            <input
                type="password"
                name="password"
                placeholder="Password"
                class="form-control"
                required
            />
        </div>
        <br />
        <button class="btn btn-primary btn-lg w-100" type="submit" value="Login" onclick="setActionForm('login')">Login</button>
        <br /><br />
        <button class="btn btn-secondary btn-lg w-100" type="button" value="Register" onclick="setActionForm('register')">Register</button>    
    </form>
</div>


<script>    
    function setActionForm(action) {
        let form = document.getElementById("auth-form");
        let username = document.querySelector('input[name="username"]').value.trim();
        let password = document.querySelector('input[name="password"]').value.trim();
    
        // Check for empty inputs
        if (!username || !password) {
            alert("Username and password cannot be empty.");
            return; // Prevent further execution if inputs are invalid
        }
    
        if (action === 'login') {
            form.action = "{{ url_for('login') }}";
            form.method = "post";
            form.submit();
        } else if (action === 'register') {
            form.action = "{{ url_for('register') }}";
            form.method = "post";
            form.submit();
        }
    }
</script>

{% endblock %}
